$product-mdia-size: 40px;
$bp-tablet-column: 660px;

.c-table{
    @include e-card;
    padding: 0 0 spacing("normal") 0;
    width: 100%;
}

.c-table__header{
    display: flex;
    align-items: baseline;
    margin-bottom: spacing("small");
    padding: 0 spacing("normal");
    flex-wrap: wrap;
}

.c-table__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: spacing();
}

.c-table__navigation__caption {
    margin-left: auto;
}

.c-table__actions {
    margin-left: auto;
}

.c-table__navigtion__arrows {
    margin-right: spacing("small");
}

.c-table__title {
    font-size: 20px;
    margin-bottom: 0;
    margin-left: spacing("small");
    padding-top: spacing("normal");
}

.c-table__data {
    width: 100%;
    font-size: 13px;
    border-collapse: collapse;

    th{
        text-align: right;
    }

    th, td {

        padding: spacing("extra-small") 0;
        border-bottom: 1px solid rgba(darken(white,40%), 0.15);

        img{
            width: $product-mdia-size;
            height: $product-mdia-size;
            vertical-align: middle;
        }
    }
    
}

.c-table__footer {
    display: flex;
    flex-flow: row-reverse;
    padding-top: spacing("normal");
    padding-left: spacing("normal");
}

.c-table--select-all {
    th, td {
        &:first-child{
            padding-right: spacing("normal");
            width: 75px;
        }
    }
}

.c-table--select-all th:first-child input + label {
    display: none;
}


@media (max-width: $bp-tablet-column) {
    .c-table__data {
        display: flex;
        overflow-x: auto;

        tbody, thead {
            display: flex;
            flex-grow: 1;
            min-width: max-content;
        }
    
        tr {
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            flex-direction: column;
        }
    
        td, th {
            padding: spacing("extra-small") spacing();
        }
    }

    .c-table--select-all th:first-child input + label {
        display: inline;
    }

    .c-table--select-all th:nth-child(2) label {
        display: none;
    }

    .c-table--select-all {
        th, td {
            &:first-child{
                display: flex;
                align-items: center;
                padding-right: spacing();
                width: initial;

                input {
                    margin-left: spacing("extra-small");
                }
            }
        }
    }

    .c-table--select-all td:first-child {
        height: floor((13px * $line-height) + 2px);
        box-sizing: content-box;
    }

    .c-table--select-all th:nth-child(2) {
        height: ($product-mdia-size + 2px);
        box-sizing: content-box;
    }

    .c-table--select-all th:nth-child(3),
    .c-table--select-all th:nth-child(1){
        order: -1;
    }

    .c-table--select-all th:nth-child(3),
    .c-table--select-all th:nth-child(2) {
        border-bottom-color: transparent;
    }
}